<!DOCTYPE html>

{% extends 'base.html' %}

{% block css %}
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/css-reset.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm body-head">
                <p><i class="fas fa-caret-right"></i>
                    About Us</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm body-text text">
                <p>Mitambi entertainment is a leading company in influencer marketing. Our goal is to provide brands the best influencer for their product by analysing all kind of data available. we are a team of young data analysts and content creators that are expert in their field.
                <br><br>
                Mitambi entertainment is also very beneficial for young influencer who just have started their career as we provide these young talent with lots of opportunity in the marketing industry.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}