<!DOCTYPE html>

{% extends 'base.html' %}

{% block css %}
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/css-reset.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm body-head">
                <p><i class="fas fa-caret-right"></i>
                    About Us</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm body-text">
                <p>Mitambi entertainment is a leading company in influencer marketing.
                    Our goal is to provide brands the best influencer for their product by analysing 
                    all kind of data available.
                </p>
                <br>
                <a href="/marketing/about-us">Read More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}