<!DOCTYPE html>

{% extends 'base.html' %}

{% block css %}
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/css-reset.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/about.css">
        <link rel="stylesheet" href="/static/css/thanks.css">
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="container shadow">
        <div class="row">
            <div class="col-sm text">
                <p>Thanks For the Submission, Our Team will Contact You Shortly.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}